*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Georgian', sans-serif;
}

header{
    width: 100%;
    height: 81px;
    background-color: #01619b;
}

body{
    background-color: #f0f9fd;
}

.boxCnt{
    max-width: 1920px;
    width: 100%;
    padding: 70px 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.boxWrap{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: auto;
}

.boxWrap__div{
    overflow: hidden;
    border-radius: 29px;
}

.box{
    width: 300px;
    height: 167px;
    transition: .5s;
    border: 3px solid;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 29px;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #01619b;
    box-shadow: #2285b2 2px 2px 9px;
    border-color: #0071cc;
    opacity: 0;
    transform: translateY(100%);
}

.box.loaded{
    opacity: 1;
    transform: translateY(0);
}

.box:hover{
    background: #fff;
    border-color: rgb(118 194 255) !important;
    color: #00558a !important;
    box-shadow: #2285b2 2px 2px 9px;
}

.ibCnt{
    max-width: 1280px;
    margin: auto;
    padding: 40px 20px;
}

.ib__center{
    display: flex;
    justify-content: center;
}

.ib__center.column{
    flex-direction: column;
    width: max-content;
    margin: auto;
    align-items: center;
}

.ib__center.ethical{
    font-size: 18px;
    color: #fff;
}

.DisciplineBox{
    min-width: 310px;
    height: 230px;
    border-radius: 0px 30px 30px 30px;
    background-color: #01619b;
    text-align: center;
    font-size: 20px;
    padding: 0 15px;
    flex-grow: 1;
}

.DisciplineBox.ethical{
    height: 200px;
}

.DisciplineBox__title{
    padding-top: 10px;
    padding-bottom: 5px;
}

.DisciplineBox__precent{
    padding: 10px 0;
    border-bottom: 1px solid #da9e90;
    margin-bottom: 25px;
}

.grades__footerCnt{
    display: flex;
    gap: 8px;
    position: relative;
    justify-content: center;
}

.grades__footerCnt_poa1{
    position: absolute;
    font-size: 10px;
    bottom: 77px;
    left: 67px;
    text-align: center;
    width: 70px;
}

.grades__footerCnt_poa2{
    position: absolute;
    font-size: 10px;
    bottom: 77px;
    left: 145px;
    text-align: center;
    width: 77px;
}

.grade__data__api{
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #fcb683;
    border-radius: 6px;
    margin-top: 7px;
}

.grade__data__api.ethical{
    background-color: #fff;
    color: #000;
}

.termEstCnt{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15px;
}

.avgCnt{
    width: 310px;
    background-color: #16987c;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 0px 15px 15px 15px;
    font-size: 20px;
    margin-top: 20px;
}


.avgCnt .grade__data__api{
    margin-right: 10px;
    background-color: #aadcd0;
    text-align: center;
}

.ibChart{
    margin-top: 30px;
}

.ibChart .recharts-layer.recharts-cartesian-axis-tick{
    cursor: pointer;
}

.headerCnt{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    justify-content: space-between;
}

.headerCnt.home{
    justify-content: flex-end;
}

.headerCnt__aTag{
    text-decoration: none;
}

.headerCnt__aTag div{
    color: #fff;
}

.headerCnt__arrow{
    margin-left: 10px;
    font-size: 40px !important;
    color: #fff;
}


/* .MuiTableCell-root{
    border: 1px solid #01619b !important;
} */
.css-177gid-MuiTableCell-root{
    border: 1px solid #01619b !important;
    padding: 0px !important;
}
.css-1ex1afd-MuiTableCell-root{
    border-bottom: 1px solid #01619b !important;
    border-left: 1px solid #01619b !important;
}
.css-15wwp11-MuiTableHead-root{
    display: table-header-group;
    position: sticky;
    top: 0;
    background: #01619b;
    z-index: 22;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    max-height: 500px;
}

.css-1ndpvdd-MuiTableCell-root{
    color: #fff !important;
    border-left: 1px solid #01619b;
}

.ethicCnt{
    margin: 30px 60px;
}

.ethicCnt .css-1ex1afd-MuiTableCell-root{
    white-space: nowrap;
}

.ethicCnt .css-1ndpvdd-MuiTableCell-root div{
    white-space: nowrap;
}

.ethicCnt .css-1ygcj2i-MuiTableCell-root{
    padding: 10px;
}

.ethicCnt__w{
    width: 90px;
    border: unset !important;
    border-right: 1px solid #01619b !important;
}

.ethicCnt__w.week{
    color: #fff !important;
    white-space: nowrap;
}

.ethicCnt__w.v2{
    width: 90px;
    border: unset !important;
    border-right: unset !important;
}

.ethical__precent{
    padding: 10px 0;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 15px;
}

.ethical__title{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
}

/* shefaseba table */

.shefasebaCnt{
    max-width: 100vw;
    padding-bottom: 0;
    overflow-x: auto;
    margin: 50px 20px;
}

.shefasebaTable{
    border-collapse: collapse;
    margin: auto;
}

.shefasebaTable__col{
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    background-color: #fff;
}

.shefasebaTable__col.row{
    background-color: #01619b !important;
    color: #fff !important;
}

/* Custom Table absence */

.absenceMain{
    max-width: 1280px;
    margin: 50px auto;
}

.absenceMain .css-gg4vpm{
    justify-content: center;
}

.absenceMain__cnt{
    overflow-x:scroll;
    max-width:1535px;
    margin: 50px auto;
    padding: 0 5px;
}

.absenceTable{
    width: 100%;
    padding: 5px 10px;
    overflow-y: scroll;
    border-collapse: collapse;
}

.absenceTable__date{
    border: 1px solid #000;
    min-width: 30px;
    max-width: 42px;
    height: 78px;
    padding-top: 24px;
    white-space: nowrap;
}

.absenceTable__attend{
    background-color: #fff;
    text-align: center;
}

.absenceTable__date div{
    transform: rotate(-90deg);
}

.absenceTable__nameSurname{
    min-width: 230px;
}
.absenceTable tr{
    border: 1px solid #000;
}
.absenceTable td{
    border: 1px solid #000;
}
.absenceTable th{
    border: 1px solid #000;
}

.absenceMain .recharts-wrapper{
    margin: auto;
}

.absenceDropdown label[data-shrink=false]+.MuiInputBase-formControl .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    background-color: #fff !important;
}

.pageName{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
}

/* dropdown */

.yearDropwdown{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.yearDropwdown .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    background-color: #fff;
    width: 290px;
}

@media only screen and (max-width: 1240px) {
    .ibChart{
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 970px) {
    .boxWrap{
        max-width: 635px;
    }
}

@media only screen and (max-width: 660px){
    .boxWrap{
        max-width: 300px;
    }
}